In [4]:
import pandas as pd
import math

In [5]:
data = pd.read_csv("Dataset.csv", skiprows=1, header=None)

In [6]:
data.head()

     0   1
0  185  72
1  170  56
2  168  60
3  179  68
4  182  72

In [7]:
dataset = data.values.tolist()
print(dataset)

[[185, 72], [170, 56], [168, 60], [179, 68], [182, 72]]

# MODEL BUILDING

## INITIALISATION

In [8]:
K = int(input("Enter the number of clusters : "))

In [9]:
clusters = {}
centroid = {}
for i in range(1,K+1):
  clusters[i] = [dataset[i-1]]
  centroid[i] = dataset[i-1]

## DISTANCE VECTOR

In [10]:
def euclidean(Xc,Yc,Xo,Yo):
  return math.sqrt((Xo-Xc)**2 + (Yo-Yc)**2)

## MODEL BUILDING

In [11]:
sumX = 0
sumY = 0
for i in range(K,len(dataset)):
  sumX = 0
  sumY = 0
  min_list = []
  for k in range(len(clusters)):
    min_list.append(int(euclidean(list(centroid.values())[k][0], list(centroid.values())[k][1], dataset[i][0], dataset[i][1])))
  cluster_number = min_list.index(min(min_list))+1
  new_list = list(clusters[cluster_number])
  new_list.append(dataset[i])
  clusters[cluster_number] = new_list
  for j in new_list:
    sumX += j[0]
    sumY += j[1]
  avgX = sumX//(len(new_list))
  avgY = sumY//(len(new_list))
  centroid[cluster_number] = [avgX,avgY]
print(clusters)

{1: [[185, 72], [179, 68], [182, 72]], 2: [[170, 56], [168, 60]]}

# VISUALISATION